body {

}
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 20em;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

#btn-create-post {
  display: none;
}

footer {
  background-color: #f9f9f9;
  text-align: center;
  border-top: 1px solid #bfbfbf;
  padding-top: 3%;
  padding-bottom: 3%;
}

.sidebar-buffer {
  margin: 30px 0px;
}